body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:750px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:750px;
}
#u3 {
  position:absolute;
  left:2px;
  top:367px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:175px;
  top:0px;
  width:25px;
  height:750px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:750px;
}
#u5 {
  position:absolute;
  left:2px;
  top:367px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:39px;
  width:77px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:40px;
  top:79px;
  width:109px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:40px;
  top:119px;
  width:61px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:40px;
  top:160px;
  width:77px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:180px;
  top:20px;
  width:14px;
  height:22px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:200px;
  width:77px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:40px;
  top:240px;
  width:77px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u1_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:980px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:980px;
}
#u21 {
  position:absolute;
  left:2px;
  top:482px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:6px;
  top:20px;
  width:14px;
  height:22px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#666666;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:208px;
  top:70px;
  width:1100px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:1083px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1100px;
  height:1px;
}
#u25 {
  position:absolute;
  left:210px;
  top:290px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:210px;
  top:324px;
  width:760px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:743px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:760px;
  height:1px;
}
#u28 {
  position:absolute;
  left:210px;
  top:380px;
  width:760px;
  height:400px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:400px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:210px;
  top:342px;
  width:528px;
  height:35px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:35px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:210px;
  top:192px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:210px;
  top:237px;
  width:760px;
  height:28px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:210px;
  top:920px;
  width:200px;
  height:100px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u35 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:210px;
  top:842px;
  width:120px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:38px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:210px;
  top:100px;
  width:150px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:210px;
  top:146px;
  width:152px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:378px;
  top:146px;
  width:152px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:558px;
  top:146px;
  width:152px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:208px;
  top:16px;
  width:81px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:299px;
  top:18px;
  width:29px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:338px;
  top:18px;
  width:332px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:750px;
}
#u1.a {
  position:absolute;
  left:0px;
  top:0px;
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u24_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end.a {
  position:absolute;
  left:1083px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:1100px;
  height:1px;
}
#u25.a {
}
#u27.a {
}
#u27_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end.a {
  position:absolute;
  left:743px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:760px;
  height:1px;
}
#u28.a {
  position:absolute;
  left:210px;
  top:380px;
  width:760px;
  height:400px;
}
#u28_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:400px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29.a {
}
#u31.a {
}
#u33.a {
  position:absolute;
  left:210px;
  top:237px;
  width:760px;
  height:28px;
}
#u33_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
}
#u42.a {
}
#u44.a {
}
#u46.a {
}
#u48.a {
}
#u50.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.b {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:750px;
}
#u1.b {
  position:absolute;
  left:0px;
  top:0px;
}
#u2.b {
}
#u4.b {
}
#u6.b {
}
#u8.b {
}
#u10.b {
}
#u12.b {
}
#u14.b {
}
#u16.b {
}
#u18.b {
}
#u20.b {
}
#u22.b {
}
#u24.b {
}
#u24_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end.b {
  position:absolute;
  left:1083px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:1100px;
  height:1px;
}
#u25.b {
}
#u27.b {
}
#u27_start.b {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end.b {
  position:absolute;
  left:743px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line.b {
  position:absolute;
  left:0px;
  top:5px;
  width:760px;
  height:1px;
}
#u28.b {
  position:absolute;
  left:210px;
  top:380px;
  width:760px;
  height:400px;
}
#u28_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:400px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29.b {
}
#u31.b {
}
#u33.b {
  position:absolute;
  left:210px;
  top:237px;
  width:760px;
  height:28px;
}
#u33_input.b {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34.b {
}
#u36.b {
}
#u38.b {
}
#u40.b {
}
#u42.b {
}
#u44.b {
}
#u46.b {
}
#u48.b {
}
#u50.b {
}
